yarn
xbuild
wireshark
scan4all
ranger
qBittorrent
nuclei
micro
htop
fish
fanyi
efm-langserver
configstore
coc
.DS_Store
NuGet
gdlv
gdlv.star
gtk-2.0
karabiner
kitty_bck
nvim_bck
stetic
vim-colors-solarized
raycast
lazygit/state.yml
